html {
  font-size: 10px;
  font-family: 'open Sans', sans-serif;
  background-color: #cdb45c;
}

body {
  width: 800px;
  margin: 0 auto;
  background-color: #d9dcce;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #56d437;
  text-shadow: 3px 3px 1px black;
}

h2 {
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: black;
}

p {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

li {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
  width: 50%;
}